* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
body {
  background-image: url(./light_shiny_blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  min-height: 100vh;
  max-height: 100%;
}
main {
  background-color: rgb(134, 193, 230);
  border: 2px solid white;
  border-radius: 10px;
  width: 27rem;
  margin: auto;
  padding: 20px;
}
header {
  font-family: "Mochiy Pop P One", sans-serif;
  text-align: center;
  font-size: 12px;
  color: rgb(48, 68, 124);
  margin: 5px;
  padding: 5px;
  background-color: lightskyblue;
  border-radius: 10px;
}
form {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  margin: 5px;
  /* margin: 5px; */
  background-color: lightskyblue;
  border-radius: 10px;
}
div {
  margin: 8px;
}
input {
  margin-top: 3px;
}
select {
  margin-top: 3px;
}
textarea {
  margin-top: 3px;
}
textarea::placeholder {
  font-size: 11px;
}
.submit {
  background-color: rgb(12, 136, 238);
  border-radius: 5px;
  width: 60px;
  height: 18px;
  color: white;
  margin: 3px 140px;
  text-align: center;
}
.submit:hover {
  background-color: brown;
}
